.fourthSection {
    height: 876px;
    width: 100%;
    position: relative;

    img {
        width: 100%;
        height: 876px;
    }
    .zaraLogoBig {
        height: 204px;
        width: 504px;
        position: absolute;
        top: 100px;
        left: 70%;

        img {
            height: 100%;
            width: 100%;
        }
    }
    .zaraLogoMini {
        height: 81px;
        width: 191px;
        position: absolute;
        top: 200px;
        left: 60%;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .textAndButton {
        height: 314px;
        width: 504px;
        position: absolute;
        top: 320px;
        left: 60%;
        border: 1px solid rgb(226, 220, 220);

        .text {
            height: 187px;
            width: 504px;
            border: 1px solid rgb(226, 220, 220);

            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 40px;
                color: white;
                text-transform: capitalize;
            }

        }
    }

}