.row{
    display: flex;
    flex-direction: row;
}

.secondSection {
    width: 100%;
    height: 1000px;


    .con-secondSection {
        height: 740px;
        position: relative;
        display: flex;
        flex-direction: row;

        .advertisingLogos {
            height: 70px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            margin-top: 50px;
            
        }
        .leftPartSS {
            height: 740px;

            .boxForLeftImg {
                height: 600px;
                width: 50%;
                position: absolute;
                margin-top: 140px;

                img {
                    height: 100%;
                    width: 100%;
                }

            }
        }
        .rightPartSS {
            height: 740px;
            justify-items: space-between;

            .boxForGridImg {
                height: 600px;
                width: 50%;
                position: absolute;
                margin-top: 140px;

                .topGrid {
                    

                    .gridImg {
                        height: 100%;
                        width: 100%;
                        margin-left: 1%;
                        img {
                            height: 298px;
                            width: 100%;                           
                        }
                    }
                }
                .buttomGrid {
                    .gridImg {
                        height: 100%;
                        width: 100%;
                        margin-left: 1%;
                        img {
                            height: 298px;
                            width: 100%;
                            
                        }
                    }
                }
                
    
            }

        }
    }
}