.thirdSection {
    width: 100%;
    height: 1140px;

    .con-thirdSection {
        height: 800px;

        .textTS {
            width: 100%;
            height: 59px;
            font-family: 'Roboto';
            font-style: normal;
            font-size: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .typesOfClothes {
            height: 32px;
            width: 100%;
            margin-top: 30px;
            display: flex;
            flex-direction: row;

            .leftPart {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: row;

                div {
                    height: 32px;
                    margin: 4px 5% 0 0 ;

                    a p {
                            font-family: 'Open Sans';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            color: rgba(0, 0, 0, 0.5);
                    }                    
                }
                .allProducts {                  
                    a p {
                        color: black;                        
                    }                  
                }
            }
            .rightPart {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: end;

                .filterBox {
                    width: 92px;
                    height: 32px;
                    background-color: black;
                    
                    a {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        margin-top: 7px;
                        
                        p {
                            color: white;
                            margin-left: 9px;
                        }
                    }
                }
            }
        }

        .gridClothesTS {
            height: 1000px;

            .topListTS {
                width: 100%;
                height: 500px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .name {
                        width: 189px;
                        height: 22px;
                        margin: 20px 0 0 10%;
                    }

                    .name p {
                        font-family: 'Open Sans';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 22px;
                    }
                    .typeAndPrice {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                    }

                        .type {
                            width: 50%;
                            height: 22px;
                            margin: 20px 0 0 10%;
                            
                            p {
                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 22px;
                                color: rgba(0, 0, 0, 0.5);
                            }
                        }
                        .price {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            margin: 20px 0 0 60%;

                            p {
                                font-family: 'Open Sans';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 22px;
                                color: black;
                                height: 22px;
                                margin-left: 10px;
                                
                            }
                            .set {
                                margin-left: 5px;
                            }
                        }
                        .newAndOld {
                            margin-left: 20%;

                            .lastPrice {
                                color: rgba(0, 0, 0, 0.5);
                                text-decoration: line-through;
                            }
                            .newPrice {
                                color: #FF6F61;
                            }
                        }
                    
                }
                .img {
                    height: 80%;

                    img {
                        height: 100%;
                    }
                }
                .name {
                    height: 10%;
                }
                .typeAndPrice {
                    height: 10%;
                }
            }
        }
    }
}