* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 150px;
  padding: 15px 0;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 10%;
}

.topHeader {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.leftPartOfHeader, .middlePartOfHeader, .rightPartOfHeader {
  height: 100%;
}

.justify-content {
  justify-content: end;
}

.dis-flex-row {
  display: flex;
  flex-direction: row;
}

.textAndDecor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 34px;
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.headerDecor {
  height: 30px;
  width: 25%;
}

.boxInLeftDecor {
  height: 70%;
  width: 30px;
  float: right;
  margin: 5px 0;
}

.boxInRightDecor {
  height: 70%;
  width: 30px;
  margin: 5px 0;
}

.leftDecor, .rightDecor {
  width: 50%;
}

.firstIcon, .secondIcon, .thirdIcon {
  top: 10%;
}

.secondIcon {
  left: 7.5px;
}

.thirdIcon {
  left: 15px;
}

.nameOfSite {
  width: 100px;
  margin-left: 5px;
}

.rightDecor {
  margin-left: 5px;
}

.textAndDecor p {
  font-size: 25px;
  font-family: "AmstelvarAlpha";
  font-style: normal;
}

.textAndDecor {
  justify-content: center;
}

.margin-left-5px {
  margin-right: 5px;
}

.margin-top-5px {
  margin-top: 5px;
}

.font-family-roboto {
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.buttomHeader {
  height: 50%;
  width: 100%;
  border-top: 1px solid #E3E3E3;
}

.menu ul {
  list-style-type: none;
  justify-content: space-between;
  margin-top: 25px;
  width: 100%;
}

menu li {
  width: 100%;
}

.menu p {
  font-style: normal;
  font-weight: 100%;
  font-size: 100%;
  line-height: 100%;
  font-family: "Roboto", sans-serif;
}

.firstSection {
  width: 100%;
  height: 697px;
}
.firstSection .con-firstSection {
  height: 697px;
  display: flex;
  flex-direction: row;
}
.firstSection .con-firstSection .col-7 {
  width: 58.34%;
}
.firstSection .con-firstSection .col-7 .leftTextBoxFS {
  height: 60%;
  width: 90%;
  margin-top: 130px;
}
.firstSection .con-firstSection .col-7 .leftTextBoxFS .titleFS {
  height: 55px;
  width: 360px;
}
.firstSection .con-firstSection .col-7 .leftTextBoxFS .titleFS p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 74px;
  line-height: 55px;
}
.firstSection .con-firstSection .col-7 .leftTextBoxFS .textFS {
  height: 119px;
  width: 100%;
  margin-top: 80px;
}
.firstSection .con-firstSection .col-7 .leftTextBoxFS .textFS p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 45px;
}
.firstSection .con-firstSection .col-7 .leftTextBoxFS .shopButtomFS {
  height: 119px;
  width: 100%;
  margin-top: 50px;
}
.firstSection .con-firstSection .col-7 .leftTextBoxFS .shopButtomFS .shopNow {
  height: 65px;
  width: 35%;
  display: flex;
  flex-direction: row;
  background-color: black;
}
.firstSection .con-firstSection .col-7 .leftTextBoxFS .shopButtomFS .shopNow img {
  margin: 15px 0 0 20px;
}
.firstSection .con-firstSection .col-7 .leftTextBoxFS .shopButtomFS .shopNow p {
  margin: 18px 0 0 15px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-size: 180%;
  line-height: 100%;
}
.firstSection .col-5 {
  width: 42.66%;
}
.firstSection .con-rightSection {
  height: 697px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.firstSection .con-rightSection .decorFS {
  width: 60%;
  height: 70%;
  margin-top: 70px;
}
.firstSection .con-rightSection .modelGirl {
  width: 60%;
  height: 70%;
  position: absolute;
  top: 8%;
  right: 43%;
  border-radius: 120px 0 120px 0;
}
.firstSection .con-rightSection .decorFloverFS {
  height: 261px;
  width: 194px;
  transform: rotate(-25deg);
  position: absolute;
  left: 100%;
  top: 50%;
}

.row {
  display: flex;
  flex-direction: row;
}

.secondSection {
  width: 100%;
  height: 1000px;
}
.secondSection .con-secondSection {
  height: 740px;
  position: relative;
  display: flex;
  flex-direction: row;
}
.secondSection .con-secondSection .advertisingLogos {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  margin-top: 50px;
}
.secondSection .con-secondSection .leftPartSS {
  height: 740px;
}
.secondSection .con-secondSection .leftPartSS .boxForLeftImg {
  height: 600px;
  width: 50%;
  position: absolute;
  margin-top: 140px;
}
.secondSection .con-secondSection .leftPartSS .boxForLeftImg img {
  height: 100%;
  width: 100%;
}
.secondSection .con-secondSection .rightPartSS {
  height: 740px;
  justify-items: space-between;
}
.secondSection .con-secondSection .rightPartSS .boxForGridImg {
  height: 600px;
  width: 50%;
  position: absolute;
  margin-top: 140px;
}
.secondSection .con-secondSection .rightPartSS .boxForGridImg .topGrid .gridImg {
  height: 100%;
  width: 100%;
  margin-left: 1%;
}
.secondSection .con-secondSection .rightPartSS .boxForGridImg .topGrid .gridImg img {
  height: 298px;
  width: 100%;
}
.secondSection .con-secondSection .rightPartSS .boxForGridImg .buttomGrid .gridImg {
  height: 100%;
  width: 100%;
  margin-left: 1%;
}
.secondSection .con-secondSection .rightPartSS .boxForGridImg .buttomGrid .gridImg img {
  height: 298px;
  width: 100%;
}

.thirdSection {
  width: 100%;
  height: 1140px;
}
.thirdSection .con-thirdSection {
  height: 800px;
}
.thirdSection .con-thirdSection .textTS {
  width: 100%;
  height: 59px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.thirdSection .con-thirdSection .typesOfClothes {
  height: 32px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
.thirdSection .con-thirdSection .typesOfClothes .leftPart {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.thirdSection .con-thirdSection .typesOfClothes .leftPart div {
  height: 32px;
  margin: 4px 5% 0 0;
}
.thirdSection .con-thirdSection .typesOfClothes .leftPart div a p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.thirdSection .con-thirdSection .typesOfClothes .leftPart .allProducts a p {
  color: black;
}
.thirdSection .con-thirdSection .typesOfClothes .rightPart {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.thirdSection .con-thirdSection .typesOfClothes .rightPart .filterBox {
  width: 92px;
  height: 32px;
  background-color: black;
}
.thirdSection .con-thirdSection .typesOfClothes .rightPart .filterBox a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7px;
}
.thirdSection .con-thirdSection .typesOfClothes .rightPart .filterBox a p {
  color: white;
  margin-left: 9px;
}
.thirdSection .con-thirdSection .gridClothesTS {
  height: 1000px;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div .name {
  width: 189px;
  height: 22px;
  margin: 20px 0 0 10%;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div .name p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div .typeAndPrice {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div .type {
  width: 50%;
  height: 22px;
  margin: 20px 0 0 10%;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div .type p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div .price {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 60%;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div .price p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: black;
  height: 22px;
  margin-left: 10px;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div .price .set {
  margin-left: 5px;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div .newAndOld {
  margin-left: 20%;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div .newAndOld .lastPrice {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS div .newAndOld .newPrice {
  color: #FF6F61;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS .img {
  height: 80%;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS .img img {
  height: 100%;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS .name {
  height: 10%;
}
.thirdSection .con-thirdSection .gridClothesTS .topListTS .typeAndPrice {
  height: 10%;
}

.fourthSection {
  height: 876px;
  width: 100%;
  position: relative;
}
.fourthSection img {
  width: 100%;
  height: 876px;
}
.fourthSection .zaraLogoBig {
  height: 204px;
  width: 504px;
  position: absolute;
  top: 100px;
  left: 70%;
}
.fourthSection .zaraLogoBig img {
  height: 100%;
  width: 100%;
}
.fourthSection .zaraLogoMini {
  height: 81px;
  width: 191px;
  position: absolute;
  top: 200px;
  left: 60%;
}
.fourthSection .zaraLogoMini img {
  height: 100%;
  width: 100%;
}
.fourthSection .textAndButton {
  height: 314px;
  width: 504px;
  position: absolute;
  top: 320px;
  left: 60%;
}
.fourthSection .textAndButton .text {
  height: 187px;
  width: 504px;
}
.fourthSection .textAndButton .text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: white;
  text-transform: capitalize;
}
.fourthSection .textAndButton .button {
  background-color: white;
  width: 237px;
  height: 72px;
  position: absolute;
  top: 240px;
}
.fourthSection .textAndButton .button a p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 34px;
  margin: 20px 0 0 20px;
}

.fifthSection {
  height: 700px;
}

.sixthSection {
  width: 100%;
  height: 754px;
}
.sixthSection .sixth-container {
  height: 100%;
}
.sixthSection .sixth-container .textAndImg {
  width: 100%;
  height: 60%;
}
.sixthSection .sixth-container .textAndImg .text {
  height: 55%;
  padding-top: 100px;
}
.sixthSection .sixth-container .textAndImg .text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
}
.sixthSection .sixth-container .textAndImg .img {
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sixthSection .sixth-container .textAndInput {
  width: 100%;
  height: 40%;
  padding: 5% 20%;
}
.sixthSection .sixth-container .textAndInput .con-textAndInput {
  width: 760px;
  height: 165px;
}
.sixthSection .sixth-container .textAndInput .con-textAndInput .text {
  width: 707px;
  height: 59px;
  margin: 0 3.5%;
  text-align: center;
}
.sixthSection .sixth-container .textAndInput .con-textAndInput .text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
}
.sixthSection .sixth-container .textAndInput .con-textAndInput .inputAndSubmit {
  height: 32px;
  width: 100%;
  margin-top: 74px;
  display: flex;
  flex-direction: row;
}
.sixthSection .sixth-container .textAndInput .con-textAndInput .inputAndSubmit .input {
  width: 80%;
  margin-right: 20%;
  border-bottom: 2px solid black;
}
.sixthSection .sixth-container .textAndInput .con-textAndInput .inputAndSubmit .submit {
  border-bottom: 2px solid black;
}
.sixthSection .sixth-container .textAndInput .con-textAndInput .inputAndSubmit #inputEmail {
  width: 100%;
  height: 30px;
  border-style: none;
}
.sixthSection .sixth-container .textAndInput .con-textAndInput .inputAndSubmit a p {
  margin-top: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}/*# sourceMappingURL=Coral.css.map */